<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PLAYSPACE</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600,400|Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/animate.css">

  <script src="/js/jquery-2.1.4.min.js"></script>

</head>
<body>
  <div class="container" style="margin-top:100px">
    <%- body %>

  </div>
</body>
</html>